@tailwind base;
@tailwind components;
@tailwind utilities;




.rec-arrow {
    
    background-color: rgb(211, 211, 211) !important;
    transition: all 0.3s ease;
    font-size: 1.1rem !important;
    /* color: white !important; */
    width: 1.7rem !important;
    height: 1.7rem !important;
    min-width: 1.7rem !important;
    line-height: 1.7rem !important;
   
}

.rec-arrow:hover:not(:disabled) {
    transform: scale(1.2);
}

